.vstup{
    background-color: hotpink;
}


input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #c5c5c5;
    border-radius: 5px;
}

input[type="text"]:focus{
    background-color: pink;
}

input[type="text"]:hover{
    background-color: aqua;
}

input[type="text"]:disabled{
    background-color: gray;
}

input[type="sumbit"]:hover{
    background-color: pink;
    color: white;
    font-weight: 900;
}